<!-- src/app/pages/authentication/side-register/side-register.component.html -->
<div class="register-container">
  <h2>Registrarse</h2>
  <p>¡Bienvenido! Por favor, completa el siguiente formulario para crear tu cuenta.</p>

<form (ngSubmit)="register()">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="user.name" type="text" name="name" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="user.email" type="email" name="email" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput [(ngModel)]="user.password" type="password" name="password" required>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Registrarse</button>

    @if (errorMessage) {
      <p class="error">{{ errorMessage }}</p>
    }
    @if (successMessage) {
      <p class="success">{{ successMessage }}</p>
    }
  </form>
  <p class="mt-2">
    ¿Ya tienes cuenta? 
    <a [routerLink]="['/authentication/side-login']" class="text-decoration-none text-primary f-w-500 f-s-14">Inicia Sesión</a>
  </p>
</div>
