<!-- src/app/pages/authentication/side-register/side-register.component.html -->
<div class="register-container">
  <h2>Registrarse</h2>
  <p>¡Bienvenido! Completa el siguiente formulario para crear una cuenta.</p>

  <form (ngSubmit)="register()" #registerForm="ngForm">

    <mat-form-field appearance="outline" class="w-100" color="primary">
      <mat-label>Nombre</mat-label>
      <input matInput type="text" id="name" name="name" [(ngModel)]="user.name" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100" color="primary">
      <mat-label>Email</mat-label>
      <input matInput type="email" id="email" name="email" [(ngModel)]="user.email" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100" color="primary">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" id="password" name="password" [(ngModel)]="user.password" required>
    </mat-form-field>

    <a [routerLink]="['/authentication/side-login']" mat-flat-button color="primary" class="w-100" (click)="register()">Registrarse</a>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </form>

  <p>¿Ya tienes cuenta? 
    <a [routerLink]="['/authentication/side-login']" class="text-decoration-none text-primary f-w-500 f-s-14">Inicia Sesión</a>
  </p>
</div>
