html .blue_theme {
  --mat-sys-primary: rgb(106, 25, 25);
  --mat-sys-primary-fixed-dim: rgba(255, 31, 27, 0.15);
  --mat-sys-secondary: rgb(215, 67, 67);
  --mat-sys-secondary-fixed-dim: rgba(215, 67, 67, 0.15);
} 